<?xml version="1.0"?>
<configuration>
	
	<system.web>
		<authorization>
			<allow users="*"/>
		</authorization>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="StajTakipUygulamasiService.Service1" behaviorConfiguration="ServiceBehaviour">

				<endpoint address=""
				binding="webHttpBinding"
				contract="StajTakipUygulamasiService.IService1"
				
				behaviorConfiguration="web"> </endpoint>
			</service>
		</services>
		<bindings>
			<!-- Customizations for REST service -->
			<webHttpBinding>
				<!-- Limits set to 10 MB (specified value in bytes) -->
				<binding name="ApiQuotaBinding" maxReceivedMessageSize="1048576000"
				maxBufferPoolSize="1048576000" maxBufferSize="1048576000" closeTimeout="00:03:00"
				openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
					<readerQuotas maxDepth="32" maxStringContentLength="104857600"
					maxArrayLength="1048576000" maxBytesPerRead="1048576000" />
					<security mode="None" />
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour" >
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
